//LITERALLY JUST GLOBAL VARIABLES
$mainColor: #1a277d;
$secondaryColor: #3042b0;
$nonTransparent: #0d1853;
$white: #ffffff;
$darkColor: #22319c;
$textColor: #4657b9;

$header-text: "Raleway", sans-serif;
$secondary-text: "Open Sans", sans-serif;
